:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(243, 242, 242);
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}


.card {
  height: 350px;
  width: 400px;
  box-shadow: 0px 5px 10px lightgrey;;
  padding: 0px;
  border-top: solid #1876db;
  background-color: white;
}

.card-main-section {
  border-top: solid rgb(230, 251, 255);
  height: 66%;
}

.card-main-section h1 {

  font-size: 30px;
  font-weight:200;
}

.card-main-section p {
  font-size: 25px;
  font-weight: lighter;
}

.card-button-section {
  display: grid;
  background-color: lightblue;
  height: 34%;
}

button {
  font-weight: bold;
  width: 200px;
  height: 40%;
  align-self: center;
  justify-self: center;
  background-color:#1876db;
  border-color: #1876db;
  color: white;
}
